<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>{{ title }}</h2>
            <p class="step-one">This is a paragraph</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="checkin">Check-in:</label>
            <input id="checkin" type="text">
        </div>

        <div class="col-md-6">
            <label for="checkout">Check-out:</label>
            <input id="checkout" type="text">
        </div>
    </div>
</div>